.Albums__div {
    display: block;
    text-align: center;
}
.Albums__ul {
    list-style: none;
    display: inline-block;
    width: 400px;
    text-align: center;
}
.Albums__li {
    display: block;
    padding: 40px 40px;
    background-color: #F8F8F8;
    margin-bottom: 3px;
    position: relative;
    border: 3px solid;
}